 * {
     box-sizing: border-box;
 }

 body {
     background-color: rgb(56, 56, 56);
     color: rgb(201, 201, 201);
     background-size: cover;
     background-position: center top;
     background-repeat: no-repeat;
     display: grid;
     grid-template-columns: minmax(200px, 400px) 1fr 1fr;
     grid-template-rows: 100px min-content auto 1fr;
 }

 h1,h2,h3 {
    color: #f8f8f8;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
 }

 main .row:first-child {perspective: 1000px;}

.screen {
    height:15vh;
    padding: 1.5rem;
    width: 70%;
    background-color: white;
    /* clip-path: polygon(0 0, 100% 0, 83% 100%, 18% 100%); */
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    border-radius: 10%;
    box-shadow: 0px 0px 5px rgba(255,255,255, 0.9), 0px 0px 15px rgba(255, 255, 255, 0.5), 0px 0px 200px rgba(255, 255, 255, 0.9) ;

    transform:rotatex(-60deg) translate3d(0, 0px, 10px);
}

.screen__title {
    text-align: left;
    color: white; 
    margin-top:auto;
    /* padding: 1.5rem 0; */
    
    text-decoration: uppercase;
    font-size: calc(16px + 6 * ((100vw - 320px) / 280));
}

.movie-legend {
    background-color: black;
    padding: 1rem;
    border-radius: 0.5rem;
}

.movie-legend__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-legend__title {
    font-size:0.75rem;
    text-align: center;
    line-height: 1.2;
}

.movie-legend .seat {
    width: 1.5rem;
    height: 1rem;
}


header {
    grid-row: 1/-1;
    grid-column: 2/3;
    padding: 0 2vw!important;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 60%, transparent);
    /* backdrop-filter: blur(200px); */
}

.salon-meta {
    font-family: 'Anton', sans-serif    ;
    margin-top:30px;
}

.salon-meta span:last-child, .salon-meta span:nth-child(2) {
    margin-left:5px;   
}


.salon-meta span:first-child {
    margin-right: 5px;
}

.salon__container {
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: rgba(0,0,0,0.9);
    margin: 0 0vw;
    position: relative;
    width: unset;
    max-width: unset;
    height: 100vh;
}

 .salon-select{
    margin: 5rem auto;
    grid-column: 2/3;
    grid-row: 2/3;
 }

.salon-row {
     margin: 0.5rem 0;
}

.salon-row > div[class*='col']{
    width: 12.5%;
}

 .salon-row > div[class*='col']:nth-child(2){
    margin-right: 2rem;
 }

 .salon-row > div[class*='col']:nth-last-child(2){
    margin-left: 2rem;
}

 .salon-row:nth-child(2){
    margin-bottom:1.5rem;
 }

 .salon-row:nth-last-child(2){
    margin-top:1.5rem;
}

.salon > .col {
    padding: 0!important;
}
.salon > .row > * {
    padding-right: 0!important;
    padding-left: 0!important;
}
 .seat {
     margin: 0 auto;
     background-color: transparent;
     border: 1px solid grey;
     height: 1.5rem;
     width:2rem;
     border-radius: 20% 20% 0 0;
     cursor: pointer;
 }

 .seat--na {
     background-color: white;
     cursor: not-allowed;
 }

 .seat--selected {
     background-color: #00d3d3;
 }

 .ticket {
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(1rem);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: center;
    text-align: center;
 }

 .btn {
     font-family: 'Anton', sans-serif;
     text-transform: uppercase;
     background-color: rgba(255,255,255, 0.5);
     border-radius: 0;
     border: 1px solid rgba(255,255,255, 0.9);
     margin-top:20px;
 }

 .btn:hover {
     background-color: white;
 }

 .btn-buy {
     background-color: unset;
     color: white;
     backdrop-filter: blur(20px);
     align-self: center;
     justify-self: center;
     width: 100%;
 }

 .btn-clear {
     color: black;
 }

 .btn-close {
     position: absolute;
     top:0px;
     right:20px;
    }

 .modal {
     position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: 100vh;
     background-color: rgba(0,0,0,0.5);
 }

 .modal__info {
     position: relative;
     
     min-height: 50vh;
     min-width:50%;
     padding: 40px;
     background-color: rgba(0,0,0,1);
     color: white;
 }

 .modal__name, .modal__date, .modal__tickets, .modal__time {
     font-family: 'Anton', sans-serif;
     text-transform: uppercase;
     font-size: 1.2rem;
 }



 @media screen and (max-width: 768px) {
     body {
         display:block;
     }
 }

 @media screen and (max-width:576px) {
    body {
        padding-top:20vh;
        padding-bottom:150px;
        background-size:contain;
        background-color: black;
        position: relative;
    }

    .salon-select{
        margin: 0 auto;
    }

    .ticket {
        position: absolute;
        z-index: 10;
        bottom: 0px;
    }

    .btn-clear {
        width: 100%;
    }

    .movie-legend {
        justify-content: space-between;
    }

    .movie-legend.row > * {
        flex-shrink: 1;
        width: unset;
        max-width: unset;
        padding-right: calc(10px * .5);
        padding-left: calc(10px * .5);
        margin-top: var(--bs-gutter-y);
    }
}